.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add {
    border: 2px solid darkgrey;
    border-radius: 5px;
    padding: 10px;
}
.item {
    display: block;
    margin: 5px;
}
.item-label {
    font-weight: 700;
}